.container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -10rem;
    width: 100vw;
    
}

.footerContainer {
    display: flex;
    justify-content: center;
    background: #212121;
    width: 100vw;
    height: 5rem;
    border-top: 3px solid #01fe87;
    padding: 1rem;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.socialMedia {
    font-family: 'Russo One';
    font-weight: 300;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #EEE;
}

@media (max-width: 1200px) {
    .footerContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1rem;
        font-weight: 300;
    }
}