.foodContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    overflow: auto;
    gap: 2rem;
    row-gap: 10rem;
    margin-top: 3rem;
    padding: 2rem;
}

.foodContainer img {
    width: 100%;
}